@import url('https://fonts.cdnfonts.com/css/gobold');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: "BerlingskeSerif_L";
  src: url("../fonts/BerlingskeSerif-Light.woff");
}

@font-face {
  font-family: "BerlingskeSerif_R";
  src: url("../fonts/BerlingskeSerif-Regular.ttf");
}

@font-face {
  font-family: "BerlingskeSerif_B";
  src: url("../fonts/BerlingskeSerif-SemiBold.woff");
}
