.footer {
  overflow: hidden;
  padding: 5.5vh 0 13vh;
  position: relative;
  width: 93.75vw;
  margin: 0 auto;

  @include l-mobile {
    padding-bottom: 3vh;
  }

  .logo-area {
    height: 10vw;

    @include l-mobile {
      display: none;
    }
  }

  .logo {
    width: 93.75vw;
    display: block;
    position: relative;
    cursor: pointer;
    bottom: unset;
    transition: all 0.35s ease-in-out;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;

    &.fixed {
      position: fixed;
      z-index: -5;
      overflow: hidden;
      bottom: -0.5vh;
    }

    &.fixed:not(.middle) {
      transform: translateY(-4.1vh) translateX(-50%);
    }

    &.middle {
      z-index: 3;
      transform: translate(-50%, 70%);
      animation: revealFromTop_0 0.3s ease;

      &:hover {
        transform: translate(-50%, 60%);
      }
    }

    &.up {
      animation: revealFromBottom_100 0.3s ease;
    }
    &.down {
      animation: revealFromTop_0 0.3s ease;
    }

    @keyframes revealFromTop_0 {
      0% {
        transform: translate(-50%, 0);
      }
      100% {
        transform: translate(-50%, 70%);
      }
    }

    @keyframes revealFromBottom_100 {
      0% {
        transform: translate(-50%, 100%);
      }
      100% {
        transform: translate(-50%, 70%);
      }
    }

    @keyframes revealFromBottom_70 {
      0% {
        transform: translate(-50%, 70%);
      }
      100% {
        transform: translate(-50%, 0);
      }
    }
  }

  .footer-group {
    padding-top: 5.5vh;
    display: flex;
    flex-direction: column;

    @include l-mobile {
      flex-direction: column-reverse;
    }

    .company-area {
      justify-content: space-between;
      display: flex;
      padding-bottom: 4.6vh;
      border-bottom: 1px solid #b2b5a8;
      font-family: "BerlingskeSerif_R";
      text-transform: none;
      font-size: 1.4vh;
      line-height: 2vh;
      letter-spacing: 1.07px;

      @include l-mobile {
        flex-direction: column;
        text-align: center;
        border-bottom: none;
        border-top: 1px solid #b2b5a8;
        padding-bottom: 0;
        padding-top: 10.6vw;
        font-size: 3.1vw;
        line-height: 4vw;
      }

      strong {
        display: block;
        font-size: 2vh;
        line-height: 2vh;
        letter-spacing: -0.1px;
        text-transform: uppercase;
        font-family: "Gobold";
        margin-bottom: 5px;

        @include l-mobile {
          font-size: 4.2vw;
          line-height: 4.2vw;
        }
      }

      a {
        display: block;
      }

      .privacies-box {
        display: flex;
        font-size: 1.1111vh;
        line-height: 1.1vh;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        font-family: "Gobold";

        @include l-mobile {
          margin-top: 7.9vw;
          font-size: 2.6vw;
          line-height: 2.6vw;
          white-space: initial;
          font-size: 2.6vw;
          line-height: 3vw;
        }

        a {
          transition: all 0.35s ease-in-out;
          margin: 0 1.4vh;

          &:hover {
            letter-spacing: 1px;
          }
        }
      }
    }

    .menu-area {
      padding-top: 4.6vh;
      justify-content: space-between;
      display: flex;
      font-size: 4.6vw;
      line-height: 9.2vh;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include l-mobile {
        padding-top: 0;
        padding-bottom: 10.6vw;
        flex-direction: column;
        text-align: center;
        letter-spacing: 0.77px;
        font-size: 13.3vw;
        line-height: 16vw;
      }

      a {
        transition: all 0.35s ease-in-out;

        &:hover {
          letter-spacing: 5px;

          @include l-mobile {
            letter-spacing: inherit;
          }
        }
      }
    }
  }

  .footer-logo-wrapper-mobile {
    display: none;
    margin: 0 auto;
    width: 87vw;

    @include l-mobile {
      display: block;
    }

    svg {
      margin-top: 5vh;
      height: auto;
    }
  }

  .footer-top {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 31.9vw;

    @include l-mobile {
      display: flex;
    }

    .txt {
      font-size: 9.3vw;
      line-height: 11.9vw;
      text-transform: uppercase;
      color: #b2b5a8;
    }

    svg {
      height: 7.9vw;
      width: auto;
      margin-left: 3.9vw;
    }
  }
}
